<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <connectionStrings>
    <add name="Default" connectionString="Data Source=(localdb)\Gaia;Initial Catalog=Gaia;Integrated Security=True;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <appSettings>
    <add key="DefaultDatabase" value="Gaia" />
    <add key="DotnetCoreSdkVersion" value="1.0.1" />
    <add key="DotnetCoreSdkInstaller" value="dotnet-dev-win-x64.1.0.1.exe" />
    <add key="SqlLocalDbInstaller" value="ja_sql_server_2016_localdb_with_service_pack_1_x64_9541027.msi" />
  </appSettings>
</configuration>
